body {
    font-size: 12px;
}

h1 {
    font-size: 6em;
    margin:auto;
    width:fit-content;
}
ol {
    list-style-type: decimal;
    padding-left: 5em;
    width: 20%;
    min-width: fit-content;
}
.borderDiv {
    width: 2px;
    height: auto;
    background: black;

}
ol li{
    font-size: 2em;
}
.baseDiv {
    width: 100%;
    height: fit-content;
    background: beige;
}
.baseDiv .titleDiv {
    background: skyblue ;
}
.baseDiv .mainDiv {
    width: 100%;
    height: fit-content;
    display: flex;
}
.baseDiv .mainDiv .contentDiv {
    width: 80%;
    margin: 20px;
}

/*사용자 모드 만들 때*/
.baseDiv .navDiv {
    display: flex;
    width: 100%;
    height: fit-content;
    margin: auto;
}
.btn {
    font-size: 12px;
}