<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>콘텐츠</title>
    <style>
        .ground {
            width: 70%;
            height: auto;
            min-height: 500px;
            margin:auto;
            border: black 3px solid;

        }
        .title{
            font-size:30px;
        }
        .button {
            font-size:15px;
            margin-top:auto;
            margin-bottom:auto;
            margin-right:3px;
        }
        .mainContent {
            height:100%;
        }
    </style>
</head>
<body>
<div class="ground">

    <div  style="display: flex">
        <label class="title">제목: </label>
        <input type="text" class="title" style="flex-grow:1;margin-right:20px;margin-left:10px" value="내가 만든 제목" readonly/>
        <button id="returnToMain" class="button" >메인 페이지</button>
    </div>
    <div class="mainContent">
        <input type="text" value="내용들" readonly/>
    </div>
    <button id="editBtn">수정하기</button>



</div>
<script>
    document.getElementById('returnToMain').addEventListener('click',function() {
        window.location.href='/jy.record';
    });
    document.getElementById('editBtn').addEventListener('click',function() {
        window.location.href='/jy.record/content/edit';
    });
</script>
</body>
</html>