<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>
    <link rel="stylesheet" href="style.css" type="text/css" />
</head>
<body>
<div class="navDiv">

</div>
<div class="baseDiv">
    <div class="titleDiv">
        <h1>제목</h1>
        <p>2024.04.13</p>
    </div>
    <div class="mainDiv">
        <ol>
            <li><a>category1</a></li>
            <li>category2</li>
            <li>category3</li>
            <li>category4</li>
            <li>category1</li>
            <li>category2</li>
            <li>category3</li>
            <li>category4</li>
            <li>category1</li>
            <li>category2</li>
            <li>category3</li>
            <li>category4</li>
            <li>category1</li>
            <li>category2</li>
            <li>category3</li>
            <li>category4</li>
            <li>category1</li>
            <li>category2</li>
            <li>category3</li>
            <li>category4</li>
            <li>category1</li>
            <li>category2</li>
            <li>category3</li>
            <li>category4</li>
            <li>category1</li>
            <li>category2</li>
            <li>category3</li>
            <li>category4</li>
            <li>category1</li>
            <li>category2</li>
            <li>category3</li>
            <li>category4</li>
            <li>category1</li>
            <li>category2</li>
            <li>category3</li>
            <li>category4</li>
            <li>category1</li>
            <li>category2</li>
            <li>category3</li>
            <li>category4</li>
            <li>category1</li>
            <li>category2</li>
            <li>category3</li>
        </ol>
        <div class="borderDiv"></div>
        <div class="contentDiv">
            <p>content</p>
        </div>
    </div>
</div>
</body>
</html>